In [28]:
import mysql.connector as sql

mydb = sql.connect(
    host="localhost",
    user="root",
    password="Nisha1991@",
    use_pure = True,
    database = "login"
    
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000002BA83ABC390>

In [36]:
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000002BA83ABC390>

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [38]:
SHOW(database)

NameError: name 'SHOW' is not defined

In [39]:
pwd

'C:\\Users\\Nisha'

In [34]:
import sqlite3 as sql

In [21]:
database = "login.db"

In [22]:
connection = sql.connect(database)

In [32]:
query = '''SELECT * FROM login_data'''

In [35]:
df = pd.read_sql_query("SELECT * login", mydb)

C:\Users\Nisha\AppData\Local\Temp\ipykernel_5256\1969020481.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * login", mydb)

DatabaseError: Execution failed on sql 'SELECT * login': 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'login' at line 1

In [20]:
df = pd.read_sql_query(query,connection)

DatabaseError: Execution failed on sql 'SELECT * FROM login_data': no such table: login_data

In [25]:
import os
import pymysql
import pandas as pd

host = os.getenv('localhost')
port = os.getenv('3306')
user = os.getenv('root')
password = os.getenv('Nisha1991@')
database = os.getenv('login.db')

conn = pymysql.connect(
    host=host,
    port=port,
    user=user,
    passwd=password,
    db=database,
    charset='utf8mb4')

df = pd.read_sql_query("SELECT * FROM login_data", conn)
df.tail(10)

OperationalError: (1045, "Access denied for user 'Nisha'@'localhost' (using password: NO)")